<div class="container my-4">
  <h1>Olá Mundo</h1>

  <div class="row">
    <div class="col-lg-3">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Olá Alunos</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-3">Sejam Bem-Vindos!!</mat-card-content>

      <mat-card-footer class="mt-auto px-3">
        <button mat-button>Clique-me</button>
        <button mat-flat-button>Clique-me</button>
      </mat-card-footer>
      </mat-card>
    </div>
  </div>

</div>

